<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.linkedin.android.spyglass.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.SpyglassSample">

        <activity
            android:name=".samples.SimpleMentions"
            android:label="@string/simple_mentions_sample" />

        <activity
            android:name=".samples.NetworkedMentions"
            android:label="@string/networked_mentions_sample" />

        <activity
            android:name=".samples.MultiSourceMentions"
            android:label="@string/multi_source_mentions_sample" />

        <activity
            android:name=".samples.GridMentions"
            android:label="@string/grid_mentions_sample" />

        <activity
            android:name=".SamplesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
